<div class="alert alert-warning alert--no-offer-modules">{{ t('After you install and enable one of special offer addons, this page will provide tools to configure promotions.', {'link': this.getModulesPromoLink()})|raw }}</div>

<div class="promoted-modules">

  <div class="screenshots">
    <img class="screenshot screenshot-1" src="{{ this.getScreenshotPath() }}/offers1.png" alt="Special Offers module screenshot: back end" />
    <img class="screenshot screenshot-2" src="{{ this.getScreenshotPath() }}/offers2.png" alt="Special Offers module screenshot: cart page" />
  </div>

  <div class="description">

    <div class="text">
      {{ t('Special Offers promo: Buy X Get Y description', {'link': this.getPromotedModuleInfo('bxgy', 'url')})|raw }}
      {{ t('Special Offers promo: Spend X Get Y description', {'link': this.getPromotedModuleInfo('sxgy', 'url')})|raw }}
    </div>

    <div class="features">
      {{ t('Special Offers promo: Common description')|raw }}
    </div>

    <ul class="market clearfix">
      <li class="market--buy-x-get-y"><a href="{{ this.getPromotedModuleInfo('bxgy', 'url') }}"><span>Buy X Get Y</span></a></li>
      <li class="market--spend-x-get-y"><a href="{{ this.getPromotedModuleInfo('sxgy', 'url') }}"><span>Spend X Get Y</span></a></li>
    </ul>

  </div>

</div>

<div class="other-promoted-modules">
  <p>{{ t('Special Offers promo: You may also like') }}</p>
  <ul>
    <li><a href="{{ this.getPromotedModuleInfo('roulette', 'url') }}">Coupon Roulette</a>: {{ t('Special Offers promo: Coupon Roulette short') }}</li>
    <li><a href="{{ this.getPromotedModuleInfo('popups', 'url') }}">Popup Anywhere</a>: {{ t('Special Offers promo: Popup Anywhere short') }}</li>
    <li><a href="{{ this.getPromotedModuleInfo('loyalty', 'url') }}">Loyalty Program</a>: {{ t('Special Offers promo: Loyalty Program short') }}</li>
  </ul>
</div>
    <!--
<div class="module-banner qsl_abandonedcartreminder">
  <a href="http://xcart/stock/admin.php?target=addons_list_marketplace&amp;moduleID=129">
    <div class="banner">
        <img src="skins/admin/module_banner/images/QSL_AbandonedCartReminder.png" alt="QSL\AbandonedCartReminder">
    </div>
  </a>
  </div>
-->