{##
 # Pin codes status box
 #}

{% if this.entity.isSold %}
  {% set order = this.getDisplayOrder(this.entity.orderItem.order) %}

  <div class="pin-sold">{{ t('Sold') }}</div>
  {% if this.entity.orderItem %}
    ( <a target="_blank" href="{{ url('order', '', {'order_number': order.getOrderNumber() }) }}">{{ order.getPrintableOrderNumber() }}</a> )
  {% else %}
    ( {{ t('Order deleted') }} )
  {% endif %}

{% else %}

  {% if this.entity.isBlocked %}
    {% set order = this.getDisplayOrder(this.entity.orderItem.order) %}

    <div class="pin-blocked">{{ t('Blocked') }}</div>
    {% if this.entity.orderItem %}
      ( <a target="_blank" href="{{ url('order', '', {'order_number': order.getOrderNumber() }) }}">{{ order.getPrintableOrderNumber() }}</a> )
    {% else %}
      ( {{ t('Order deleted') }} )
    {% endif %}

  {% endif %}

{% endif %}

